.main {
    font-family: 'Playfair Display', serif;
    width: 75vw;
    margin: 0 auto;
    
}

.main h1 {
    color:#212529;
    font-size: 3rem;   
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
}