.wr { 
    position: relative;
    height: 55vh;
    width: 100%; 
    margin:  1rem auto 12rem;
    display: inline-block;
}


@media (max-width: 1200px) {
    .wr {
        margin: 0 auto 8rem;
    }
  }

@media (max-width: 500px) {
    .wr {
        margin: 0 auto 4rem;
    }
  }