#pageDropDown {
    display: none;
}

.table {
    font-size: 1.8rem;
    table-layout: auto;
    position: relative;
}

.form-control {
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 20% !important;
    font-size: 1.7rem !important;   
}

.table input {
    border-radius: 1rem;
}

.pagination {
    font-size: 1.6rem;
}

@media (max-width: 1255px) {
    .table{
     font-size: 1.4rem;
    }
    
    .form-control {
        width: 30% !important;
        font-size: 1.4rem !important;
    }
  }

  @media (max-width: 750px) {
    .table{
     font-size: 1.2rem;
    }
    .form-control {
        width: 30% !important;
        font-size: 1.2rem !important;
    }
  }
