th {
    padding: 20px;   
}

tr {
    border-bottom: 1px solid gray;
}

table {
    margin: 10px auto;
    font-size: 2rem;
}

@media (max-width: 500px) {
    table {
      font-size: 1.5rem;
    }
  }
